.about-me-container {
    width: 90vw;
    height: 75vh;
    margin: auto;
    margin-top: 6vh;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    opacity: 1;
    transition: opacity 1s ease-out;
    overflow-y: auto;
    border-style: solid;
    border-color: #27a1b9;
    scrollbar-width: thin;
}

.about-me-title {
    font-family: 'Google Sans Code', 'Courier New', monospace;
    font-optical-sizing: auto;
    padding: 20px;
    font-weight: 420;
    font-size: 22;
    font-style: normal;
    margin: 0;
}

.about-me-content {
    padding: 18px;
    font-size: 1.3vw;
    font-style: normal;
    margin: 0;
    color: #9ece6a;
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.headshot {
    height: 30%;
    width: 25%;
    margin-right: 20px;
    margin-left: 5px;
    margin-bottom: 5px;
    float: left;
    border-radius: 50%;
}

.crumb:hover {
    color: slategray;
    cursor: pointer;
}
