.about-me-container {
    scrollbar-width: thin;
    width: 90vw;
    height: 75vh;
    margin: auto;
    margin-top: 3vh;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    opacity: 1;
    transition: opacity 1s ease-out;
    overflow-y: auto;
    border-style: solid;
    border-color: #27a1b9;
    scrollbar-color: #1a1b26 #27a1b9;

}

.about-me-title {
    font-family: 'Google Sans Code', 'Courier New', monospace;
    font-optical-sizing: auto;
    padding: 20px;
    font-weight: 420;
    font-size: 22;
    font-style: normal;
    margin: 0;
}

.about-me-content {
    font-size: 1.3vw;
    font-style: normal;
    margin: 0;
    color: #c0caf5;
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.grid-container {
    padding: 30px;
    display: grid;
    margin: 30px;
    margin-top: 5px;
    padding-top: 5px;
    column-gap: 30px;
    row-gap: 20px;
    grid-template-columns: 30%, 30%, 30%;
}


.grid-cell {
    grid-column: span 1;
}



h4 {
    color: #bb9af7;
    font-family: 'Google Sans Code', 'Courier New', monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5vw;
}

.headshot {
    height: 40vh;
    padding: 5px;
    width: 40vh;
    margin-right: 50px;
    margin-left: 5px;
    margin-bottom: 5px;
    float: left;
    border-radius: 50%;
}

.biography {
    grid-column: span 3;
}

.crumb:hover {
    color: slategray;
    cursor: pointer;
}

@media only screen and (max-width: 1000px) {
    .grid-cell {
        grid-column: span 3
    }

    .headshot {
        height: 35vh;
        width: 35vh;
    }
}
