<!DOCTYPE html>
<html lang='en'>

<head>
  <title>L.dev</title>
  <link rel="stylesheet" type="text/css" href="/static/styles/graphs/graphs.css">
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>
  <script type="importmap">
    {
      "imports": {
        "three": "https://cdn.jsdelivr.net/npm/three@0.160.0/build/three.module.js",
        "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.160.0/examples/jsm/"
      }
    }
    </script>
</head>

<body>
  <div class="grid-container">
    <div class="grid-cell">
      <h1> Graph Visualizer </h1>
      <div class="slider-container">
        <label class="label"> Number of Nodes </label>
        <br />
        <span class="label-descriptor">1</span><input class="slider" type="range" id="node-number" min="1" max="30"
          steps="1"></input><span class="label-descriptor">30</span>
      </div>
      <div class="slider-container">
        <label class="label"> Clustering Modifier </label>
        <br />
        <span class="label-descriptor">0</span><input class="slider" type="range" id="clustering-modifier" min="0"
          max="2" steps="0.1"></input><span class="label-descriptor">2</span>
      </div>
      <div class="slider-container">
        <label class="label"> Null Edge Probability </label>
        <br />
        <span class="label-descriptor">0</span><input class="slider" type="range" id="null-edge-probability" min="0"
          max="100" steps="1"></input><span class="label-descriptor">100</span>
      </div>
      <button id="submit">Generate</button>
    </div>
    <div class="grid-cell" id="threejs-container">
    </div>
  </div>
  <script type="module" src="/static/scripts/graphs.js">
  </script>
</body>


</html>
